               @keyframes start{
                   0% { 
                       background-color: white; }
                   25% { 
                       background-color: white; }
                   75% { 
                       background-color: black; }
                   100%  { 
                       background-color: black; }
               }
               @keyframes burg_start{
                   0%{opacity:0;}
                   25%{opacity:0}
                   75%{opacity:1; }
                   100%{opacity:1; }
               }
               body{
                   background-color: black;
                   animation-name: start;
                   animation-duration: 2s;
                   color: white;
              }
             #up{
                 width: 100%;
                 background-color: black;
                 animation-name: start;
                 animation-duration: 2s;
          }
              #burg_menu{
                 animation-name: burg_start;
                 animation-duration: 2s;
}
a:link{
    color: white;
}
a:visited{
	color:white;
}